/* <tag> Sections ---------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em ;
}

header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 0 5px;
}

h1 {
    font-size: 30pt;
    margin: 2em;
}
h2 {
    margin-top: 1em;
    align-self: center;

}

p {
    text-align: center;
    font-size: 20pt;
    padding: 0 50px;
}

button {
    display: block;
    align-items: center;
    font-size: 15pt;
    border-radius: 10px;
}

/* #id Section -----------------------------*/

#startBtn {
    align-self: center;
    font-size: 20pt;
    margin-bottom: 1em;
    border-radius: 10px;
}

#initials {
    margin: 1rem;
}

#content {
    text-align: center;
}

#scorePage {
    border-radius: 0 0 30px 30px;
}


/* .class Sections -------------------------*/
.highScoresBtn {
    font-size: 12pt;
    width: auto;
    height: 20px;
    background-color: white;
    border: none;
}
.highScoresBtn:hover {color: purple;}
.highScoresBtn:hover {background-color: rgb(248, 248, 248);}


.timer {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.gameLayout {
    display: flex;
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgb(53, 109, 147);
    border-radius: 25px;
    color: rgb(239, 239, 239);
}  


.title {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    text-decoration: underline;
    margin: .5em;
}

.answer {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px;
}

/* Tool for removing sections when needed */
.hideMe {
    display: none;
}

